<!-- views/partials/90s_footer.ejs -->
<footer>
  <div class="row">
    <a href="/">Home</a>
    <a href="/reset" onclick="return confirm('Are you sure? All of your progress will be lost.');">Reset</a>
    <a href="/logout">Logout</a>
  </div>
</footer>
<script src="/main.js"></script>
