<!-- views/partials/90s_footer.ejs -->
<footer>
  <div class="row">
    <a href="/">Return to home page</a>
    <a href="#" onclick="openChat()">Chat</a>
    <a href="/logout">Logout</a>
  </div>
</footer>
<script src="/main.js"></script>