<!-- views/partials/footer.ejs -->
<footer>
  <div class="row">
    <a href="/" class="four columns">Home</a>
    <a href="/reset" class="four columns" onclick="reset()">Reset</a>
    <a href="/logout" class="four columns">Logout</a>
  </div>
</footer>
<script src="/main.js"></script>