<!-- views/partials/footer.ejs -->
<footer>
  <div class="row">
    <a href="/" class="four columns">Return to home page</a>
    <a href="#" class="four columns" onclick="openChat()">Chat</a>
    <a href="/logout" class="four columns">Logout</a>
  </div>
</footer>
<script src="/main.js"></script>