<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Prototype</title>

<!-- CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
<link rel="stylesheet" href="/css/style.css">
