<h1>Meet the Mayor</h1>
<div class="half">
  <img src="/images/02devil.png">
</div>
<div class="half">
  <h2>Quick Facts:</h2>
  <p><b>Name:</b> Layne P. Thompson</p>
  <p><b>Birthday:</b> 5/16/1974</p>
  <p><b>Hometown:</b> St. Louis, Missouri</p>
  <p><b>Alma mater:</b> University of Missouri</p>
  <p><b>Government experience:</b> St. Louis mayoral adviser, St. Louis alderman<span class="alter">[EXPERT ON HUMAN EVIL]</span></p>
  <hr>
  <p>I’ve always been interested in <span class="alter">[LYING TO THE PEOPLE]</span><span class="cross">government</span>. Soon after I learned to read, I would beg my father to give me the politics section of whatever newspaper he had in the morning. As a child I was attracted to the <span class="alter">[CHEAP THRILLS]</span><span class="cross">drama and prestige</span> of <span class="alter">[TORTURING CITIZENS]</span><span class="cross">politics</span>, but as I grew older I began to appreciate the real goal of politics: <span class="alter">[EXTRACTING WEALTH FROM HUMAN SUFFERING]</span><span class="cross">the continuous betterment of our society</span>. I started working in St. Louis City Hall as soon as I graduated college. I spent a year advising St. Louis’ own Mayor Harmon, and another year as an alderman, serving St. Louis’ 4th Ward. I love St. Louis, but eventually the <span class="alter">[LACK OF TERROR AND DEATH IN]</span><span class="cross">relentless atmosphere of</span> the city got to me, and I felt the need to move somewhere more <span class="alter">[WILLING TO GO ALONG WITH MY TWISTED AGENDA]</span><span class="cross">quiet</span>. I fell in love with West Alton as soon as I arrived, and the rest is <span class="alter">[THE STORY OF MY EVIL EXPERIMENTS]</span><span class="cross">history</span>.</p>
</div>