<h1>Welcome to beautiful West Alton, on the web!!</h1>
<div class="half">
  <img src="/images/alton.jpg">
</div>
<div class="half">
  <h1>West Alton, voted the 1997 friendliest small town in Missouri!<h1>
  <h2>West Alton was founded in 1819 by a group of farmers who wanted to get away from the bustle of St. Louis. Ever since that day we’ve been proud to be a quiet, uncomplicated town. Our motto has always been “If your worries need haltin’, come to West Alton!</h2>
</div>