<h1>Meet the Mayor</h1>
<div class="half">
  <img src="/images/mayor.jpg">
</div>
<div class="half">
  <h2>Welcome to beautiful West Alton, on the web!!</h2>
  <h3>West Alton, voted the 1997 friendliest small town in Missouri!<h3>
  <h5>West Alton was founded in 1819 by a group of farmers who wanted to get away from the bustle of St. Louis. Ever since that day we’ve been proud to be a quiet, uncomplicated town. Our motto has always been “If your worries need haltin’, come to West Alton!</h5>
</div>