body {
  font-family: Times, serif;
  font-size: 14px;
}
.report {
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  margin: auto 1rem;
}
.centered {
  text-align: center;
}
.head {
  font-size: 16px;
  font-weight: bold;
}

table {
  margin: 50px auto;
  width: 1000px;
}
img.full {
  width: 100%;
}
.demargin {
  margin: 0;
}

.narrow {
  width: 600px;
  margin: 20px auto;
}

.header {
  height: 30px;
  color: white;
  display: inline-block;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.header.left {
  padding: 15px 20px 25px 20px;
  background: black;
  width: 110px;
}
.header.right {
  background: #3366cc;
  margin-left: -4px;
  width: 410px;
}
nav {
  display: inline;
  top: 20%;
  position: relative;
}
nav.title {
  font-weight: bold;
  top: 30%;
  font-size: 20px;
  text-align: center;
}

.fake-link {
  text-decoration: underline;
  font-weight: bold;
}
.fake-link.active {
  color: #ffcc00;
}
nav .pull-right {
  margin-left: 120px;
}

.wrapper {
  display: flex;
}

.sidebar {
  flex: 0 0 25%;
  background: #ccc;
  margin-top: 40px;
  height: 500px;
}

.article {
  margin: 20px;
  flex: 1;
}

/* black background, green hacker text */