.anarchist {
  background: #434343;
}
.anarchist {
  color: white;
}

.anarchist p {
  text-align: left;
  color: #6aa84f;
  font-family: 'Courier New', sans-serif;
  margin-top: 50px;
}

.anarchist p.up {
  margin-top: 0;
}

.row.spaced {
  margin-top: 50px  ;
}

.center-text {
  text-align: center;
}
.popup {
  display: none;
}


.title > img {
  height: 80px;
  position:absolute;
  margin-top: -20px;
}

.title > span.right {
  margin-left: 80px;
}

img.full {
  width: 100%;
}

.canvas-wrapper {
  width: 90%;
  margin: 0 auto;
  overflow-y: hidden;
}

canvas {
  display: block;
  margin: auto;
  padding: 0;
}

footer {
  text-align: center;
  font-size: 1.75 rem;
}
