<h4>DRUG ENHANCED POLICE ATTACK CIVILIAN PROTESTERS</h4>
<img class="full" src="images/z33BTXy.jpg">
<p>>>> St. Louis police, aided by genetically enhanced soldiers, led a brutal crackdown on anti-government protesters late Wednesday. 
<br><br>
The protesters, speaking up against previous police crackdowns, deep-seated political corruption, and widespread economic strife in the city, were marching down Washington Ave. when several police trucks moved in suddenly to block their path. Several squads of genetically enhanced police - identifiable by their facemasks and abnormally muscular builds - emerged from the trucks, heavily armed. They immediately entered the crowd and began beating and dragging away the protestors.
<br><br>
Monitors from The Agitator who were present at the scene estimate about 150 to 200 protesters were arrested before the crowd dispersed. 
<br><br>
“I watched the pigs wade into the crowd and hit freedom fighters with their batons, their fists, and their rifles.” said Agitator correspondent F0X112 (alias used for anonymity), ”Nobody was read their rights, as usual.”
<br><br>
The Agitator has reported previously on various drug-enhanced police forces responding to protests and other instances of direct action against the state. The Agitator staff has several theories concerning the nature and origin of these enhanced forces - which we’ve taken to calling “hogs” - but we plan to do more investigation before we publish a full report of our findings. <<<</p>