<h4>PROMETHEUS PROGRAM EXPOSED</h4>
<img class="full" src="/images/prom.jpg" />
<p class="caption">
  The entrance to the now abandoned facility where Prometheus experiments first took place.
</p>
<p>
  >>>The Agitator has obtained audio records from the Prometheus program that reveal several heinous violations of human rights committed by Prometheus staff. The following clip is an audio log recorded by the program’s head scientist, Alfred Fletcher, in 1999, during the project’s early stages. The log details experiments performed on a test subject named Ray Morgan:<<<
</p>
<audio controls>
  <source src="/audio/agitator_iii.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<p>
  [Transcript of interview]<br><em>"Date . . . May 19th, 1999. Lead scientist Alfred Fletcher. Subject number 439, name of Ray Morgan, 40 year old male. Subject was given the standard treatment: physical and psychological evaluations, electroshock therapy, muscular conditioning, the standard series of injections. Number 439 is abnormally resistant to the testing, his erratic behavior necessitated the use of restraints on several occasions . . . a taser was used before one of the routine injections to subdue him. Of all the subjects so far, number 439 has responded the most dramatically to the drug. Muscles have grown by an unprecedented 78.3%, and cognitive abilities have improved rapidly as well. Number 439 was illiterate when we brought him to the facility, and now he’s reading at the level of a college student. Encouraging signs from number 439, despite his resistance. Need to double the security detail on his cell, but he’s the one to watch these days."</em>
</p>
<p>
  >>>Electroshock therapy, injections, restraints, and tasers? The Agitator staff isn’t exactly surprised to hear that the state is using these barbaric methods, but we are horrified. If this kind of brutality was part of the Prometheus program from the beginning, we fully suspect these tactics are still being used to produce and indoctrinate new Prometheus-enhanced police. We hope these new revelations will help wake the people up. You can count on us to continue unraveling this grisly experiment, and get out on the streets and show the government what we think of their crimes.<<<
</p>