    <h4>ENHANCED POLICE HARBOR SHOCKING MUTATIONS</h4>
    <h5>BRAVE CITIZEN UNCOVERS UNSETTLING DETAILS ABOUT DRUGGED COPS</h5>

    <p>>>>>The following audio is from an interview that The Agitator conducted with a St. Louis citizen who had a violent encounter with one of the drug enhanced pigs we’ve seen throwing down with the people at many protests lately:<<<<</p>
  </div>
</div>
<div class="row spaced">
  <div class="six columns">
    <img src="/images/nmtxg7j26.jpg">
  </div>
  <div class="six columns">
    <!-- Audio goes here -->

    <p class="six columns">[Transcript of interview]<br>
    <em>"Yeah, yeah, so I was with my boy D-Dog down in Hamilton Heights, we were there to pass some product off to a regular customer. We were just laying in the cut, y’know, just waiting for the dude to get there. Suddenly 5-0 shows up . . . one of those creepy masked dudes. Just one of them though, and he looked hurt. Bullet holes all in his back and shit, stumbling down the alley. When he looked at me I reached for the strap, y’know, instinctually, but when he saw that dude flipped. Charged at me like a wild animal, his injuries didn’t even seem to affect him. I let off a few shots as he came at me *pop pop pop!!* and he just fell. Looked dead forreal this time. After a sec I took his mask off . . . I really just wanted to see what these dudes look like. He looked awful, pale, cheeks sunken in. Had some weird symbol tatooed under his eye too. But this wasn’t no gang shit, this looked like a brand, yknow? My boy D-Dog wanted his vest and coat for himself, so he took it off him. This dude was ripped underneath, totally wild muscles. I didn’t envy him though, shits was freakishly huge, didn’t look human. His body started rotting away real quick too, like within minutes. I’ve been to a funeral or two in my lifetime, and even my old granny wasn’t that decayed in her casket. We dipped out there fast, man, we still don’t like to talk about it."</em></p>
  </div>
</div>
<div class="row spaced">
  <div class="u-full-width">
    <p>>>> This new information raises many new questions. The effects of this drug are evidently incredibly painful. Are these cops being given the drug against their will? We’ve seen that the drug gives them inhuman strength, but this citizen also reported that the cop flew into a violent rage. Does this drug affect the subject’s mental faculties as well as the physical? The symbol is also an area of concern. Are these cops simply test subjects, part of a government program that uses them as if they were lab rats? As always, you can count on the staff here at The Agitator to uncover the state’s secrets at any cost. We will have an update on this story as soon as we find more information.<<<</p>