<h4>ENHANCED POLICE HARBOR SHOCKING MUTATIONS</h4>
<img class="full" src="/images/z33BTXy.jpg">

<!-- Audio goes here -->

<p>>>> This new information raises many new questions. The effects of this drug are evidently incredibly painful. Are these cops being given the drug against their will? We’ve seen that the drug gives them inhuman strength, but this citizen also reported that the cop flew into a violent rage. Does this drug affect the subject’s mental faculties as well as the physical? The symbol is also an area of concern. Are these cops simply test subjects, part of a government program that uses them as if they were lab rats? As always, you can count on the staff here at The Agitator to uncover the state’s secrets at any cost. We will have an update on this story as soon as we find more information.<<<</p>