<!-- views/pages/attack.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container anarchist">

  <div class="row spaced">
    <div class="u-full-width center-text">
      <h1 class="title">
        <span>THE</span>
        <img src="/images/anarchist_star.png">
        <span class="right">GITATOR</span>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <span><%- date %></span>
    </div>
    <div class="six columns">
      <span class="u-pull-right">16 Years of Anarchist News for the People</span>
      <span class="u-cf"></span>
    </div>
  </div>

  <div class="row spaced">
    <div class="u-full-width center-text">
      <% if(article == 'attack') { %>
        <% include ../partials/agitator/attack %>
      <% } else if(article == 'harbor') { %>
        <% include ../partials/agitator/harbor %>
      <% } %>

    </div>
  </div>
  <% include ../partials/footer %>

  <% if(convo != null) { %>
    <% include ../partials/convo_opener %>
  <% } %>
</body>
</html>
