<!-- views/pages/attack.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container anarchist">

  <div class="row spaced">
    <div class="u-full-width center-text">
      <h1 class="title">
        <span>THE</span>
        <img src="/images/anarchist_star.png">
        <span class="right">GITATOR</span>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="six columns">
      <span>Oct. 26, 2037</span>
    </div>
    <div class="six columns">
      <span class="u-pull-right">16 Years of Anarchist News for the People</span>
      <span class="u-cf"></span>
    </div>
  </div>

  <div class="row spaced">
    <div class="u-full-width center-text">
      <%- JSON.stringify(article) %>
      <% include ../partials/agitator/JSON.stringify(article) %>
    </div>
  </div>

  <footer>
    <% include ../partials/footer %>
  </footer>
  <% if(convo) { %>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
  <script src="/vendor/html2canvas.js"></script>
  <script src="/vendor/glitch.js"></script>

  <script>
    $(document).ready(function() {
      var convo = <%- JSON.stringify(convo) %>;
      console.log(convo);
      if(convo != null) {
        if(convo == false) {
          setTimeout(function() {
            $('body').glitch('replace', {
              amount: 10
            });
            setTimeout(function() {
              var chat = window.open('/chat', 'Chat', 'width=400, height=400');
              if(chat) {
                  if(chat.closed == false) {
                    chat.close();
                  }
                  window.open('/chat', 'Chat', 'width=400, height=400');
              } else {
                  console.log('blocked');
              }
            }, 3000);
          }, 4000);
        }
      }
    });
  </script>
  <% } %>
</body>
</html>
