<!-- views/pages/mayor.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/90s_head %>
</head>
<body class="alton">

  <header>
    <div class="title">
        <h1>City of West Alton, Missouri</h1>
    </div>
    <div class="links">
        <a href="/alton" class="fake-link">Home</a>
        <span class="fake-link">Announcements</span>
        <a href="/alton/mayor" class="fake-link">Meet the Mayor</a>
        <span class="fake-link">City Departments</span>
        <span class="fake-link">Related Links</span>
    </div>
  </header>
  <div class="midwidth">
      <% if(mayor) { %>
      <% include ../partials/alton/mayor %>
      <% } else { %>
      <% include ../partials/alton/homepage %>
      <% } %>
  </div>

  <% include ../partials/90s_footer %>
    
</body>
</html>
