<!-- views/pages/autopsy-report.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/90s_head %>
</head>
<body class="container">
  <main>
      <table border="1" cellspacing="0">
        <tbody>
          <tr>
            <td class="centered head">
              SUMMARY REPORT OF AUTOPSY
            </td>
          </tr>
          <tr>
            <td>
              Name: MORGAN, Ray
            </td>
            <td>
              Coroner's Case #:
            </td>
          </tr>
           <tr>
            <td>
              DOB: 11/10/1958
            </td>
            <td>
              Age: 40
            </td>
          </tr>
          <tr>
            <td>
              Race: Black
            </td>
            <td>
              Sex: Male
            </td>
          </tr>
          <tr>
            <td>
              Date of Death: June 15, 1999
            </td>
            <td>
              Body Identified By: Susan Morgan, mother of deceased
            </td>
          </tr>
          <tr>
            <td>
              Case #: 67AL-ES
            </td>
            <td>
              Investigative Agency: St. Charles County Sheriff's Dept.
            </td>
          </tr>
          <tr>
            <td>
              <p><b><u>MAJOR FINDINGS</p></b></u>
              <div class="report">
                <p>Evidence of a bullet wound entering in left temple and exiting through the right.</p>
                <p>Deceased reportedly suffered from unidentified cardiovascular and respiratory difficulties. Despite this, his lungs and heart looked healthy.</p>
                <p>Muscular system abnormally enlarged, and showed signs of rapid atrophy and decay. Suspected case of Myositis before death, followed by atrophy.</p>
                <p>Decay of outer tissue at advanced levels, well beyond those expected for a cadaver of this age.</p>
                <p>Evidence of extensive hemorrhaging in the brain.</p>
              </div>
              <p><b><u>OPINION</p></b></u>
              <div class="report">
                <p><b>Time of Death:</b> Between 5 p.m. and 10 p.m. on June 15</p>
                <p><b>Immediate Cause of Death:</b> Gunshot to left temple</p>
                <p><b>Manner of Death:</b> Suicide</p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
    
</body>
</html>
