<!-- views/pages/autopsy-report.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/90s_head %>
</head>
<body class="container">
  <table border="1" cellspacing="0" cellpadding="2">
    <tbody>
      <tr>
        <td colspan="2" bgcolor="#E6E6E6" class="centered head">
          <b>SUMMARY REPORT OF AUTOPSY</b>
        </td>
      </tr>
      <tr>
        <td>
          <b>Name:</b><br><span class="report">MORGAN, Ray</span>
        </td>
        <td>
          <b>Coroner's Case #:</b><br><span class="report">1999-104</span>
        </td>
      </tr>
       <tr>
        <td>
          <b>DOB:</b><br><span class="report">11/10/1958</span>
        </td>
        <td>
          <b>Age:</b><br><span class="report">40</span>
        </td>
      </tr>
      <tr>
        <td>
          <b>Race:</b><br><span class="report">Black</span>
        </td>
        <td>
          <b>Sex:</b><br><span class="report">Male</span>
        </td>
      </tr>
      <tr>
        <td>
          <b>Date of Death:</b><br><span class="report">June 15, 1999</span>
        </td>
        <td>
          <b>Body Identified By:</b><br><span class="report">Susan Morgan, mother of deceased</span>
        </td>
      </tr>
      <tr>
        <td>
          <b>Case #:</b><br><span class="report">67AL-ES</span>
        </td>
        <td>
          <b>Investigative Agency:</b><br><span class="report">St. Charles County Sheriff's Dept.</span>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <p><b><u>MAJOR FINDINGS</p></b></u>
          <div class="report">
            <img class="full" src="images/autopsyreport.jpg">
            <p>Evidence of a bullet wound entering in left temple and exiting through the right.</p>
            <p>Deceased reportedly suffered from unidentified cardiovascular and respiratory difficulties. Despite this, his lungs and heart looked healthy.</p>
            <p>Muscular system abnormally enlarged, and showed signs of rapid atrophy and decay. Suspected case of <a href="/myositis">Myositis</a> before death, followed by atrophy.</p>
            <p>Decay of outer tissue at advanced levels, well beyond those expected for a cadaver of this age.</p>
            <p>Evidence of extensive hemorrhaging in the brain.</p>
          </div>
          <p><b><u>OPINION</p></b></u>
          <div class="report">
            <p><b>Time of Death:</b> Between 5 p.m. and 10 p.m. on June 15</p>
            <p><b>Immediate Cause of Death:</b> Gunshot to left temple</p>
            <p><b>Manner of Death:</b> Suicide</p>
          </div>
          <div class="report demargin">
            <p class="demargin">//<em>Charles Grady, M.D.</em><br>Forest Park Hospital<br>June 21, 1999</p>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <% include ../partials/footer %>
    
</body>
</html>
