<!-- views/pages/autopsy-report.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <main>
        <div class="row">
	    <h1>Autopsy Report</h1>
        </div>
	<div class="row">
          <p>Just how I was to help Perry I could scarce imagine, but I hoped that some fortuitous circumstance might solve the problem for me.  It was quite evident however that little less than a miracle could aid me, for what could I accomplish in this strange world, naked and unarmed?  It was even doubtful that I could retrace my steps to Phutra should I once pass beyond view of the plain, and even were that possible, what aid could I bring to Perry no matter how far I wandered?</p>

	  <p>The case looked more and more hopeless the longer I viewed it, yet with a stubborn persistency I forged ahead toward the foothills.  Behind me no sign of pursuit developed, before me I saw no living thing.  It was as though I moved through a dead and forgotten world.</p>

	  <p>I have no idea, of course, how long it took me to reach the limit of the plain, but at last I entered the foothills, following a pretty little canyon upward toward the mountains.  Beside me frolicked a laughing brooklet, hurrying upon its noisy way down to the silent sea. In its quieter pools I discovered many small fish, of four-or five-pound weight I should imagine.  In appearance, except as to size and color, they were not unlike the whale of our own seas.  As I watched them playing about I discovered, not only that they suckled their young, but that at intervals they rose to the surface to breathe as well as to feed upon certain grasses and a strange, scarlet lichen which grew upon the rocks just above the water line.</p>

	  <p>It was this last habit that gave me the opportunity I craved to capture one of these herbivorous cetaceans&mdash;that is what Perry calls them&mdash;and make as good a meal as one can on raw, warm-blooded fish; but I had become rather used, by this time, to the eating of food in its natural state, though I still balked on the eyes and entrails, much to the amusement of Ghak, to whom I always passed these delicacies.</p>

	  <p>Crouching beside the brook, I waited until one of the diminutive purple whales rose to nibble at the long grasses which overhung the water, and then, like the beast of prey that man really is, I sprang upon my victim, appeasing my hunger while he yet wriggled to escape.</p>

	  <p>Then I drank from the clear pool, and after washing my hands and face continued my flight.  Above the source of the brook I encountered a rugged climb to the summit of a long ridge.  Beyond was a steep declivity to the shore of a placid, inland sea, upon the quiet surface of which lay several beautiful islands.</p>

	  <p>The view was charming in the extreme, and as no man or beast was to be seen that might threaten my new-found liberty, I slid over the edge of the bluff, and half sliding, half falling, dropped into the delightful valley, the very aspect of which seemed to offer a haven of peace and security.</p>

	  <p>The gently sloping beach along which I walked was thickly strewn with strangely shaped, colored shells; some empty, others still housing as varied a multitude of mollusks as ever might have drawn out their sluggish lives along the silent shores of the antediluvian seas of the outer crust.  As I walked I could not but compare myself with the first man of that other world, so complete the solitude which surrounded me, so primal and untouched the virgin wonders and beauties of adolescent nature.  I felt myself a second Adam wending my lonely way through the childhood of a world, searching for my Eve, and at the thought there rose before my mind's eye the exquisite outlines of a perfect face surmounted by a loose pile of wondrous, raven hair.</p>

	  <p>As I walked, my eyes were bent upon the beach so that it was not until I had come quite upon it that I discovered that which shattered all my beautiful dream of solitude and safety and peace and primal overlordship.  The thing was a hollowed log drawn upon the sands, and in the bottom of it lay a crude paddle.</p>

	  <p>The rude shock of awakening to what doubtless might prove some new form of danger was still upon me when I heard a rattling of loose stones from the direction of the bluff, and turning my eyes in that direction I beheld the author of the disturbance, a great copper-colored man, running rapidly toward me.</p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>
