<!-- views/pages/autopsy-report.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/90s_head %>
</head>
<body class="container">
  <main>
      <table>
        <tbody>
          <tr>
            <td>
              SUMMARY REPORT OF AUTOPSY
            </td>
          </tr>
          <tr>
            <td>
              Name: MORGAN, Ray
            </td>
            <td>
              Coroner's Case #:
            </td>
          </tr>
           <tr>
            <td>
              DOB: 11/10/1958
            </td>
            <td>
              Age: 40
            </td>
          </tr>
          <tr>
            <td>
              Race: Black
            </td>
            <td>
              Sex: Male
            </td>
          </tr>
          <tr>
            <td>
              Date of Death: June 15, 1999
            </td>
            <td>
              Body Identified By: Susan Morgan, mother of deceased
            </td>
          </tr>
          <tr>
            <td>
              Case #: 194-WLD
            </td>
            <td>
              Investigative Agency: St. Charles County Sheriff's Dept.
            </td>
          </tr>
          <tr>
            <td>
              <p><b><u>Major Findings:</p></b></u>
              Evidence of a bullet wound entering in left temple and exiting through the right. 


              Deceased reportedly suffered from unidentified cardiovascular and respiratory difficulties. Despite this, his lungs and heart looked healthy.


              Muscular system abnormally enlarged, and showed signs of rapid atrophy and decay. Suspected case of Myositis before death, followed by atrophy.


              Decay of outer tissue at advanced levels, well beyond those expected for a cadaver of this age.


              Evidence of extensive hemorrhaging in the brain.


              Opinion:


              Time of Death: Between 5 p.m. and 10 p.m. on June 15


              Immediate Cause of Death: Gunshot to left temple


              Manner of Death: Suicide
            </td>
          </tr>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
    
</body>
</html>
