<!-- views/pages/chat.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/chat_style.css">
</head>
<body>

  <div id="toRead" class="inset">
  </div>
  <div id="toSend" class="inset">
  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
  <script>
    var name = <%- JSON.stringify(name) %>;
    var index = 0;
    var timeForConvo = <%- JSON.stringify(oldConvo) %>;
    var c = <%- JSON.stringify(convo) %>;
    
    var cID = -1;
    for(i=0; i<c.length; i++) {
      if(c[i].end) {
        cID = i;
      } else {
        break;
      }
    }

    var convo = [
      {
        'a': 'Dragonfly439',
        'm': 'Hello there. We’ve been expecting you.',
        'next': [1]
      },
      {
        'a': 'player',
        'm': 'What is going on here?',
        'next': [2]
      },
      {
        'a': 'Dragonfly439',
        'm': 'You have found a way out of the illusion of time. Now you are witness for your race.',
        'next': [3, 4, 5]
      },
      {
        'a': 'player',
        'm': 'This can’t be real. How are you doing this?',
        'next': [7]
      },
      {
        'a': 'player',
        'm': 'Please leave me alone.',
        'next': [6]
      },
      {
        'a': 'player',
        'm': 'Who are you?',
        'next': [6]
      },
      {
        'a': 'Dragonfly439',
        'm': 'You cannot get away from your own shadow.',
        'next': [3, 4, 5]
      },
      {
        'a': 'Dragonfly439',
        'm': 'But it is. This is occurring through means far beyond your Y2K world.',
        'next': [8]
      },
      {
        'a': 'player',
        'm': 'But how do I know that any of this is real?',
        'next': [9]
      },
      {
        'a': 'Dragonfly439',
        'm': 'Here’s a start. This man, Layne Thompson.',
        'next': []
      }
    ];

    if(cID > -1) {
      AIMessage();
    }  else {
      var result = '<p><b class="no-messages">You have no current conversations.</b></p>';
      $('#toRead').append(result);
    }

    function putInRead() {
      var line = convo[index];
      var result = '<p><b class="'
      if(line.a == 'Dragonfly439') {
        result += 'red">' + line.a;
      } else {
        result += 'blue">' + name;
      }
      result += ': </b>' + line.m + '</p>';
      $('#toRead').append(result);
      $('#toRead').scrollTop($('#toRead')[0].scrollHeight);
    }
    function putInSend() {
      var lines = convo[index].next;
      var result = '';
      for(var i = 0; i < lines.length; i++) {
        result += '<button value="' + lines[i] + '"><b class="blue">' + (i + 1) + ': </b>' + convo[lines[i]].m + '</button>';
      }
      $res = $(result);
      $('#toSend').append($res);
      $res.click(sendMessage);
    }

    function AIMessage() {
      putInRead();
      setTimeout(putInSend, 1000);
    }

    function sendMessage() {
      index = $(this).val();
      $('#toSend').empty();
      putInRead();
      index = convo[index].next[0];
      setTimeout(AIMessage, 2000);
    }
  </script>

</body>
</html>
