<!-- views/pages/mayor.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container dead">
  <header class="row">
    <h2 class="u-full-width">DIVES INTO THE DEAD</h2>
    <p>Abandoned appreciation blog, log of my adventures</p>
  </header>
  <div class="row entry">
    <div class="u-full-width">
      <p class="date">November 3, 2037</p>
    </div>
    <div class="u-full-width article">
      <p>Hey all,<br><br>
        Here’s some photos from my most recent dive. Of all the spots in and around St. Louis, this one definitely creeped me out the most. I guess someone as experienced as me with abandoned places shouldn’t be fazed by this stuff, but there was just something about this place. Like I could feel the years of torture and anguish that went on in this place.<br><br>
        It was definitely some sort of government facility. Lots of science and medical equipment too. See for yourself:
      </p>
      <img src="public/images/abandoned-photos/1.jpeg">
      <img src="public/images/abandoned-photos/2.jpeg">
      <img src="public/images/abandoned-photos/3.jpeg">
      <img src="public/images/abandoned-photos/4.jpeg">
      <img src="public/images/abandoned-photos/5.jpeg">
      <img src="public/images/abandoned-photos/6.jpeg">
      <img src="public/images/abandoned-photos/7.jpeg">
      <img src="public/images/abandoned-photos/8.jpeg">
      <h5>- <em>Take nothing but pictures, leave nothing but footprints</em> -</h5>
    </div>
    <div class="u-full-width">
        <p class="footer"> Posted by <span class="dark">Adventurer</span> at <span class="dark">10:45 PM</span></p>
    </div>
  </div>
  <% include ../partials/footer %>
    
</body>
</html>
