<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="canvas-wrapper">
  <img src="/images/cypher_alt.jpg">
  <div class="container">
  <% include ../partials/footer %>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
  <script src="/vendor/html2canvas.js"></script>
  <script src="/vendor/glitch.js"></script>

  <script>
    $(document).ready(function() {
      setTimeout(function() {
        $('body').glitch('replace', {
          amount: 10
        });
        openFinalAudio();
      }, 1500);

      function openFinalAudio() {
        
      }
    });
  </script>
</body>
</html>
