<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="canvas-wrapper">
  <img src="/images/cypher_alt.jpg">
  <div class="container">
  <% include ../partials/footer %>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
  <script src="/vendor/html2canvas.js"></script>
  <script src="/vendor/glitch.js"></script>

  <script>
    $(document).ready(function() {
      setTimeout(function() {
        $('body').glitch('replace', {
          amount: 10
        });
        openFinalAudio();
      }, 1500);

      function openFinalAudio() {
        var left = screen.width / 2 - 400;
        var top = screen.heigh / 2 - 300;
        var end = window.open('/final', '', 'width=800, height=600, top='+top+', left='+left);
      }
    });
  </script>
</body>
</html>
