<!-- views/pages/chat.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="final">
  <audio autoplay>
    <source src="/audio/final.mp3">
    Your browser does not support the audio element.
  </audio>
  <p>Well hello there again. You’ve followed this trail and you’ve made it here. You’ve stuck through, and not let this rapture shatter your determination, your self. A great truth will be found and you will return to your fellow man as messenger from the void, the one who returns back with the grail, the one who returns back with the Sight.<br><br>
  I am not just Dragonfly439, I am Ray Morgan. I live in this timeless world beyond any conception. I was once a man. A simple man who was like any other; I lived, I loved, I hated, I played, I worked, I made mistakes. But now I have been blessed and cursed. I have become that fire within humankind, that connection to eternity we each have, but always seem to drown out in our domestic lives.<br><br>
  You can be the savior. You have seen what future your leaders have in store. They wish to enslave humanity for their own self interests.<br><br>
  The true Prometheus is you, I, the eye of the I. Take this knowledge, take the flame, unite the 3 and the 4. Become seven. You are all. Brahman.</p>
</body>
</html>