<!-- views/pages/force.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
  <link href="https://fonts.googleapis.com/css?family=Meddon" rel="stylesheet">
</head>
<body class="force">
  <div class="doc-wrapper">
    <div class="doc">
      <img src="/images/fbi_logo.gif" />
      <h3><strong>CLASSIFIED</strong></h3>
      <h6>13 April 2034</h6>
      <h6><em>Subject:</em> Prometheus Initiative</h6>
      <p>The Joint Chief of Staffs have considered the attached memorandum and proposal compiled by Mr. Layne Thompson and Mr. Bob Flanagan of the St. Louis Police Department. The proposed initiative, titled Prometheus, would allow the use of a new chemical drug, developed independently over the past three decades by the pharmaceutical company, Lien Physionetics, to be distributed to certain classes of officers. Chemically the drug is a structural analog of N,N-Dimethyltryptamine combined with various salts of the enatiometers of amphetamines. It is an intense central nervous system stimulant combined with various effects that have been shown to greatly improve cognitive functioning. There have been known cases of myositis and even hemorrhagic stroke after use of the drug, and some cases have been fatal, however our doctors will be doing research and creating documents that find these cases to be rare and only in individuals who had pre-existing issues.<br><br>
      The proposal by Mr. Thompson and Mr. Flanagan has the drug administered in a first dose to a consenting group of veteran officers. Groups of officers of gradually diminishing experience will be added as per success of the previous group. Officers who have taken the drug will be heavily armed and shielded. They are instructed to use force against any dissenters and at any provocation.<br><br>
      Mr. Thompson especially hopes that this program will create an air of obedience among the citizens, many of which he feels have been questioning the validity of the government for far too long and pose a danger to its continued stable existence.<br><br>
      His proposal has the program entering its initiatory stage in February of next year, with very gradual implementation occurring over the next two. It is Mr. Thompson’s hope that the program will be in full effect by 2037. <br><br>
      On behalf of the Federal Bureau of Investigation, I Dr. Merryl Fernyhough, give the approval for the Prometheus initiative of the St. Louis Police Department, fully following Mr. Thompson’s clearly laid out plan. The first doses will be administered by next February and those same officers will enter intensive force training to deal with dissenting citizens.</p>
      <h6 class="sign">
        Dr. Merryl Fernyhough<br>Commissioner of Federal Bureau of Investigation
      </h6>
    </div>
  </div>
  
  <div class="container">
    <% include ../partials/footer %>
  </div>
</body>
</html>
