<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <main>
        <div>
	    <h1>Title</h1>
                <p>"But how can we escape?" he asked, suddenly.  "They are invulnerable, they are pitiless."</p>

                <p>"Neither the one nor, perhaps, the other," I answered. "And the mightier they are the more sane and wary should we be.  One of them was killed yonder not three hours ago."</p>

                <p>"<a href="/autopsy-report">Killed!</a>" he said, staring about him.  "How can God's ministers be killed?"</p>

                <p>"I saw it happen." I proceeded to tell him.  "We have chanced to come in for the thick of it," said I, "and that is all."</p>

                <p>"What is that 
		        <% if(anarchy==true){ %><a href = '/chat' id="anarchy">flicker</a><% } %> 
		        in the sky?" he asked abruptly.</p>

                <p>I told him it was the heliograph signalling--that it was the sign of human help and effort in the sky.</p>

                <p>"We are in the midst of it," I said, "quiet as it is.  That flicker in the sky tells of the gathering storm.  Yonder, I take it are the Martians, and Londonward, where those hills rise about Richmond and Kingston and the trees give cover, earthworks are being thrown up and guns are being placed.  Presently the Martians will be coming this way again."</p>

                <p>And even as I spoke he sprang to his feet and stopped me by a gesture.</p>

                <p>"Listen!" he said.</p>

                <p>From beyond the low hills across the water came the dull resonance of distant guns and a remote weird crying.  Then everything was still. A cockchafer came droning over the hedge and past us.  High in the west the crescent moon hung faint and pale above the smoke of Weybridge and Shepperton and the hot, still splendour of the sunset.</p>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
      <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
      <script src="/vendor/html2canvas.js"></script>
      <script src="/vendor/glitch.js"></script>
      <script>
          $(document).ready(function() {
              console.log(this);

              $('#anarchy').click(function(e) {
                  e.preventDefault();
                  url = this.href;
                  $('body').glitch('replace', {
                    amount: 10
                  });
                  setTimeout(function() {
                    var myWin = window.open(url, 'Chat', 'width=400, height=400');
                    if(myWin) {
                        if(myWin.closed == false) {
                          myWin.close();
                        }
                        window.open(url, 'Chat', 'width=400, height=400');
                    } else {
                        //popup blocked, do something else
                        console.log('blocked');
                    }
                  }, 3000);
                  return false;
                  //make sure only happens once
              });
          });
      </script>
</body>
</html>
