<!-- views/pages/login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
  <main>
    <div class="row">
      <div class="eight columns offset-by-two">
        <h1 class="center-text">Cypher</h1>
        <h5 class="center-text">Enter your name to begin:</h5>
        <form class="center-text" action="/login" method="POST">
          <input id="name" type="text" name="name" class="to-hide">
          <button id="next" type="button" class="to-hide">Submit</button>
          <div class="note hidden">
            <p>Detective <span id="namespace"></span>,</p>
            <p>Here’s the cypher our boys found on that stiff out in the woods outside of town. Nobody at the department can make heads or tails of it. We know you have some background in cryptography, maybe you can have a crack at it?</p>
            <p><em>-Officer M</em></p>
          </div>
          <button type="submit" class="hidden">Begin</button>
        </form>
        <div class="popup">
          <p>This site utilizes pop-ups as part of the experience. Please disable your pop-up blocker in the address bar above.</p>
        </div>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function() {
      var popup = window.open('','', 'width=1,height=1');
      setTimeout( function() {
        if(!popup || popup.outerHeight === 0) {
          //First Checking Condition Works For IE & Firefox
          //Second Checking Condition Works For Chrome
          $('.popup').show();
          console.log('enabled');
        } else {
          //Popup Blocker Is Disabled
          popup.close();
        } 
      }, 25);
      $('#next').on('click', function() {
        $('#namespace').text($('#name')[0].value);

      });
    });
  </script>
</body>
</html>
