<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <main>
        <div class="row">
          <div class="eight columns offset-by-two center-text">
            <h1>Rough Prototype</h1>
            <h5>by Evan Anderson, Sarah Babski, and Nico Hall</h5>
            <h4>Enter your name</h4>
            <form>
              <input type="text" name="name">
              <button type="submit">Submit</button>
            </form>
          </div>
        </div>
    </main>
</body>
</html>
