<!-- views/pages/mayor.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/90s_head %>
</head>
<body class="midwidth">

  <!-- http://web.archive.org/web/20110208105918/http://www.westaltonmo.westaltonweb.com/ -->

  <h1>Meet the Mayor</h1>
  <div class="half">
      <img src="public/images/mayor.jpg">
  </div>
  <div class="half">
      <h2>Quick Facts:</h2>
      <p><b>Name:</b> Layne P. Thompson</p>
      <p><b>Birthday:</b> 5/16/1974</p>
      <p><b>Hometown:</b> St. Louis, Missouri</p>
      <p><b>Alma mater:</b> University of Missouri</p>
      <p><b>Government experience:</b> St. Louis mayoral adviser, St. Louis alderman</p>
      <hr>
      <p>I’ve always been interested in government. Soon after I learned to read, I would beg my father to give me the politics section of whatever newspaper he had in the morning. As a child I was attracted to the drama and prestige of politics, but as I grew older I began to appreciate the real goal of politics: the continuous betterment of our society. I started working in St. Louis City Hall as soon as I graduated college. I spent a year advising St. Louis’ own Mayor Harmon, and another year as an alderman, serving St. Louis’ 4th Ward. I love St. Louis, but eventually the relentless atmosphere of city got to me, and I felt the need to move somewhere more quiet. I fell in love with West Alton as soon as I arrived, and the rest is history.</p>
  </div>

  <% include ../partials/footer %>
    
</body>
</html>
