<!-- views/pages/myositis.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/90s_head %>
</head>
<body class="container">
<div class="narrow">
  <div class="header left">
      <nav class="title">NetDoc</nav>
  </div>
  <div class="header right">
      <nav>
          <span class="fake-link">News</span> |
          <span class="fake-link active">Library</span> |
          <span class="fake-link">Chats</span>
          <span class="pull-right">Tues., June 22, 1999</span>
      </nav>
  </div>
  <div class="wrapper">
      <div class="sidebar">sidebar</div>
      <div class="article">
        <h1>Myositis</h1>
        <p>Myositis refers to any condition causing inflammation in muscles. Weakness, swelling, and pain are the most common myositis symptoms. Myositis causes include infection, injury, autoimmune conditions, and drug side effects. Treatment of myositis varies according to the cause.</p>

        <h3>Causes of Myositis</h3>
        <p>Myositis is caused by any condition that leads to inflammation in the muscles. Myositis causes can be divided into several categories:</p>

        <h3>Inflammatory conditions</h3>
        <p>Conditions causing inflammation throughout the body may affect the muscles, causing myositis. Many of these causes are autoimmune conditions, in which the body attacks its own tissues. Inflammatory conditions causing potentially severe myositis include:</p>
        <ul>
            <li>Dermatomyositis</li>
            <li>Polymyositis</li>
            <li>Inclusion body myositis</li>
        </ul>
        <p>Other inflammatory conditions tend to cause milder forms of myositis, including:</p>
        <ul>
            <li>Lupus</li>
            <li>Scleroderma</li>
            <li>Rheumatoid arthritis</li>
        </ul>
        <p>Inflammatory conditions are often the most serious myositis causes, requiring long-term treatment.</p>

        <h3>Infection</h3>
        <p>Viral infections are the most common infections causing myositis. Rarely, bacteria, fungi, or other organisms can cause myositis as well. Viruses or bacteria may invade muscle tissue directly, or release substances that damage muscle fibers. Common cold and flu viruses, as well as HIV, are just a few of the viruses that can cause myositis.</p>

        <h3>Drugs</h3>
        <p>Many different medications and drugs can cause temporary muscle damage. Because inflammation in the muscles is often not identified, the muscle problem may be called myopathy rather than myositis. Drugs causing myositis or myopathy include:</p>
        <ul>
          <li>Statins</li>
          <li>Colchicine</li>
          <li>Plaquenil (hydroxychloroqine)</li>
          <li>Alpha-interferon</li>
          <li>Cocaine</li>
          <li>Alcohol</li>
        </ul>
        <p>Myopathy may occur right after starting a medication, or may occur after taking a drug for months or years. Sometimes it is caused by an interaction between two different medications. Severe myositis caused by medications is rare.</p>

        <h3>Injury</h3>
        <p>Vigorous exercise can lead to muscle pain, swelling, and weakness for hours or days after a workout. Inflammation contributes to these symptoms, technically making this a form of myositis. Myositis symptoms after exercise or injury nearly always resolve completely with rest and recovery.</p>

        <h3>Rhabdomyolysis</h3>
        <p>Rhabdomyolysis occurs when muscles break down quickly. Muscle pain, weakness, and swelling are symptoms of rhabdomyolysis. Urine may also turn a dark brown or red color.</p>

        <h3>Symptoms of Myositis</h3>
        <p>The main symptom of myositis is muscle weakness. The weakness may be noticeable or may only be found with testing. Muscle pain (myalgias) may or may not be present.</p>
        <p>Dermatomyositis, polymyositis, and other inflammatory myositis conditions tend to cause weakness that gets worse slowly over weeks or months. The weakness affects large muscle groups, including the neck, shoulders, hips, and back. Muscles on both sides are usually affected.</p>
        <p>The weakness from myositis can lead to falls and make it difficult to get up from a chair or after a fall. Other symptoms that may be present with inflammatory conditions include:</p>
        <ul>
          <li>Rash</li>
          <li>Fatigue</li>
          <li>Thickening of the skin on the hands</li>
          <li>Difficulty swallowing</li>
          <li>Difficulty breathing</li>
        </ul>
        <p>People with myositis caused by a virus usually have symptoms of a viral infection, such as runny nose, fever, cough and sore throat, or nausea and diarrhea. But the symptoms of viral infection may go away days or weeks before myositis symptoms begin.</p>
        <p>Some people with myositis have muscle pain, but many do not.</p>
        <p>Most muscle pain is not caused by myositis, but by strain injuries, or ordinary illnesses like colds and flu. These and other ordinary muscle pains are called myalgias.</p>

        <h3>Diagnosis of Myositis</h3>
        <p>A doctor may suspect myositis based on a person’s symptoms of muscle weakness or other evidence of myositis. Tests for myositis include:</p>
        <p><b>Blood tests.</b>High levels of muscle enzymes, such as creatine kinase, may mean there is muscle inflammation. Other blood tests check for abnormal antibodies that may identify an autoimmune condition.</p>
        <p><b>MRI scan.</b> A scanner using a high-powered magnet and a computer creates images of the muscles. An MRI scan can help identify areas of myositis and changes in the muscles over time.</p>
        <p><b>EMG.</b> By inserting needle electrodes into muscles, a doctor can test the response of muscles to electrical nerve signals. EMG can identify muscles that are weak or damaged by myositis.</p>
        <p><b>Muscle biopsy.</b> This is the most accurate test for diagnosing myositis. A doctor identifies a weak muscle, makes a small incision, and removes a small sample of muscle tissue for testing. Muscle biopsy leads to a final diagnosis in most people with myositis.</p>
        <p>There are many causes of muscle weakness and pain more common than myositis, and testing for myositis is not a straightforward process. For these reasons, the process of diagnosing myositis can be long.</p>
        <h3>Treatment of Myositis</h3>
        <p>Myositis treatment varies according to the cause.</p>
        <p>Inflammatory conditions causing myositis may require treatment with drugs that suppress the immune system, including:</p>
        <ul>
          <li>Prednisone</li>
          <li>Azathioprine (Imuran)</li>
          <li>Methotrexate</li>
        </ul>
        <p>Myositis caused by infection is usually due to a virus, and no specific treatment is necessary. Myositis caused by bacteria is uncommon and usually requires antibiotics to prevent life-threatening spread of the infection.</p>
        <p>Although rhabdomyolysis rarely results from myositis, it can cause permanent kidney damage. People with rhabdomyolysis are hospitalized in order to receive continuous intravenous fluids in large amounts.</p>
        <p>Myositis related to a drug is treated by stopping the medication. In cases of myositis caused by statin drugs, muscle inflammation usually subsides within a few weeks after stopping the medicine.</p>
      </div>
  </div>

  <footer>
    <% include ../partials/footer %>
  </footer>
    
</body>
</html>
