<!-- views/pages/mayor.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/90s_head %>
</head>
<body class="midwidth">
  <h1>The Myth of Prometheus</h1>
  <hr>
  <div class="half">
      <img src="/images/prometheus.jpg">
  </div>
  <div class="half">
      <p>Prometheus was a Titan, a divine being between the Primordial deities born from chaos and their own offspring, the Olympian deities. Prometheus was a second generation titan, the son of Lapetus and Clymene. His name is derived from the Greek word for ‘forethought’, though there is some debate as to whether it may actually mean ‘afterthought’. There are many different sources for accounts of the Prometheian myth, though the most extensive come from the poet, Hesiod.<br><br>
      In all accounts, Prometheus is presented to be the benefactor of mankind. In an event called the Trick at Mecone, he tricks Zeus by asking him to choose between two offerings; meat hidden inside an ox's stomach (something pleasing hidden inside a repelling exterior) or bones wrapped in glistening fat (something inedible hidden inside a pleasing exterior). Zeus chose the latter, therefore determining how humanity deals with animal carcasses, keeping the meat for food and offering the bones as a sacrifice to the gods.<br><br>
      Zeus, annoyed and angered by the trick, decides to hide fire from mortals as punishment. According to the myth, humanity had already discovered fire. Prometheus, in an effort to help humanity again, sneaks onto Mount Olympus and steals fire back and gives it to humans. While the fire can be seen to represent fire literally, it also is symbolic of humanity’s intelligence, drive, and self-awareness.<br><br>
      More enraged, Zeus asks the god Hephaestus to create from clay Pandora, the first woman, who brings troubles to mankind. He also punishes Prometheus by having him chained to a rock, where an eagle eats his liver daily. Prometheus is immortal and is therefore not killed. In later myths, he is saved by Hercules, a demigod.</p>
  </div>
  <div class="half">
      <p class="caption">Jean Delville – Prometheus</p>
  </div>
  <% include ../partials/90s_footer %>
    
</body>
</html>
