<!-- views/pages/mayor.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/90s_head %>
    <link href="https://fonts.googleapis.com/css?family=Alegreya|Amatica+SC|Roboto" rel="stylesheet">
</head>
<body class="narrow non">
  <img src="/images/n1.png">
  <img src="/images/n2.jpg">
  <p class="rob">Divinelovedivineharmonydivinelovlvoeharnyolednieny</p>
  <p class="ale">I make known to you, ye sons of the doctrine, that the beginning of all creatures is a certain primary everlasting and infinite nature which cooks and rules everything, and whose active and passive aspects are known and recognized only be those on whom the knowledge of the sacred art has been bestowed</p>
  <p class="ama">4939493949394347934934349341319432492341238420134821384922384918362596079246571230948920-8560729549325293857260395428304276523578492786629385748907642139645208345742085670923848790-87647956894027589067590643524129835743275643940`82390-7846307832641890847865410-48376873139074583247837482137404<br>
  Theflameoftaoistheflameofmanisselfinnoselfinselfwithinallself<br><br>
  “Jesus answered and said unto him, verily, verily, I say unto thee, Except a man be born again, He cannot see the kingdom of god.”<br>
  John 3:3</p>
  <% include ../partials/90s_footer %>
    
</body>
</html>
