<!-- views/pages/seized.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="seized">
  <img src="./public/images/mermaids.jpg" />

  <div class="container">
    <% include ../partials/footer %>
  </div>
</body>
</html>
